IMAGE=ghcr.io/pmapa/message:latest
DATABASE_URL=postgres://message:CHANGE-ME@message-db.internal:5432/message?sslmode=require
#MESSAGE_NOTIFICATION_URL=http://notification:8080
#MESSAGE_STATS_URL=http://stats:8080
#MESSAGE_USER_URL=http://user:8080
