IMAGE=ghcr.io/pmapa/post:latest
DATABASE_URL=postgres://post:CHANGE-ME@post-db.internal:5432/post?sslmode=require
#POST_USER_URL=http://user:8080
#POST_STATS_URL=http://stats:8080
#POST_NOTIFICATION_URL=http://notification:8080
